
<!DOCTYPE HTML>	
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	
	<title>SIP Calculator</title>
</head>
<body>
<div class="Containter">
	
	<h1><a th:href="@{/sipcalculator}">SIP Calculator</a></h1>
	<hr>
	<h1><a th:href="@{/goalsipcalculator}">Goal SIP Calculator</a></h1>
	<hr>
	
	

</div>
</body>
</html>